<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration"/>
  </configSections>
  
  <unity ><!--xmlns="http://schemas.microsoft.com/practices/2010/unity"-->

    <!--引用命名空间-->
    <namespace name="Practice.Unity.Ioc" />
    <namespace name="Practice.Unity.Calculator"/>
    <namespace name="Practice.Unity.Sender"/>
    <!--引用程序集-->
    <assembly name="Practice.Unity.Calculator" />
    <assembly name="Practice.Unity.Sender" />
    <assembly name="Practice.Unity.Ioc" />
    


    <!--定义类型别名-->
    <aliases>
      <add alias="ISender" type="Practice.Unity.Sender.ISender, Practice.Unity.Sender" />
      <add alias="MailSender" type="Practice.Unity.Sender.MailSender, Practice.Unity.Sender" />
      <add alias="TelegraphSender" type="Practice.Unity.Sender.TelegraphSender, Practice.Unity.Sender" />
      <add alias="ICalculator" type="Practice.Unity.Calculator.ICalculator, Practice.Unity.Calculator" />
      <add alias="SimpleCalculator" type="Practice.Unity.Calculator.SimpleCalculator, Practice.Unity.Calculator" />
    </aliases>

    <!--容器-->
    <container name="unityContainer">
      <!--映射关系-->
      <register type="ISender"  mapTo="MailSender">
        <lifetime type="singleton"></lifetime>
      </register>
      <register type="ISender" name="tel" mapTo="TelegraphSender">
        <lifetime type="singleton"></lifetime>
      </register>
    </container>

    <!--另一个容器-->
    <container name="calculator">
      <!--映射关系-->
      <register type="ICalculator"  mapTo="SimpleCalculator"></register>
      
    </container>


  </unity>
  
</configuration>
